<style> .breadcrumbs { display: none; } </style><!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="https://gmpg.org/xfn/11">

<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

<!-- Google Tag Manager for WordPress by gtm4wp.com -->
<script data-cfasync="false" data-pagespeed-no-defer type="text/javascript">//<![CDATA[
	var gtm4wp_datalayer_name = "dataLayer";
	var dataLayer = dataLayer || [];
//]]>
</script>
<!-- End Google Tag Manager for WordPress by gtm4wp.com -->
	<!-- This site is optimized with the Yoast SEO plugin v16.4 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>ebooks - Mojo</title>
	<link rel="canonical" href="https://mojo.org.br/ebooks/" />
	<meta property="og:locale" content="pt_BR" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="ebooks - Mojo" />
	<meta property="og:url" content="https://mojo.org.br/ebooks/" />
	<meta property="og:site_name" content="Mojo" />
	<meta property="article:modified_time" content="2023-06-20T19:09:08+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://mojo.org.br/#website","url":"https://mojo.org.br/","name":"Mojo","description":"","potentialAction":[{"@type":"SearchAction","target":"https://mojo.org.br/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"pt-BR"},{"@type":"WebPage","@id":"https://mojo.org.br/ebooks/#webpage","url":"https://mojo.org.br/ebooks/","name":"ebooks - Mojo","isPartOf":{"@id":"https://mojo.org.br/#website"},"datePublished":"2020-03-29T02:32:17+00:00","dateModified":"2023-06-20T19:09:08+00:00","breadcrumb":{"@id":"https://mojo.org.br/ebooks/#breadcrumb"},"inLanguage":"pt-BR","potentialAction":[{"@type":"ReadAction","target":["https://mojo.org.br/ebooks/"]}]},{"@type":"BreadcrumbList","@id":"https://mojo.org.br/ebooks/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"item":{"@type":"WebPage","@id":"https://mojo.org.br/","url":"https://mojo.org.br/","name":"In\u00edcio"}},{"@type":"ListItem","position":2,"item":{"@id":"https://mojo.org.br/ebooks/#webpage"}}]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel='dns-prefetch' href='//use.fontawesome.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Feed para Mojo &raquo;" href="https://mojo.org.br/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/mojo.org.br\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.7.1"}};
			!function(e,a,t){var n,r,o,i=a.createElement("canvas"),p=i.getContext&&i.getContext("2d");function s(e,t){var a=String.fromCharCode;p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,e),0,0);e=i.toDataURL();return p.clearRect(0,0,i.width,i.height),p.fillText(a.apply(this,t),0,0),e===i.toDataURL()}function c(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(o=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},r=0;r<o.length;r++)t.supports[o[r]]=function(e){if(!p||!p.fillText)return!1;switch(p.textBaseline="top",p.font="600 32px Arial",e){case"flag":return s([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])?!1:!s([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!s([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]);case"emoji":return!s([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}(o[r]),t.supports.everything=t.supports.everything&&t.supports[o[r]],"flag"!==o[r]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[o[r]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(n=t.source||{}).concatemoji?c(n.concatemoji):n.wpemoji&&n.twemoji&&(c(n.twemoji),c(n.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='harrison-theme-fonts-css'  href='https://mojo.org.br/wp-content/themes/harrison/assets/css/theme-fonts.css?ver=20191018' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-css'  href='https://mojo.org.br/wp-includes/css/dist/block-library/style.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-components-css'  href='https://mojo.org.br/wp-includes/css/dist/components/style.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-editor-css'  href='https://mojo.org.br/wp-includes/css/dist/block-editor/style.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-nux-css'  href='https://mojo.org.br/wp-includes/css/dist/nux/style.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-editor-css'  href='https://mojo.org.br/wp-includes/css/dist/editor/style.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-block-library-theme-css'  href='https://mojo.org.br/wp-includes/css/dist/block-library/theme.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-edit-blocks-css'  href='https://mojo.org.br/wp-includes/css/dist/block-library/editor.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='embed_sendy-cgb-style-css-css'  href='https://mojo.org.br/wp-content/plugins/embed-sendy/dist/blocks.style.build.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='https://mojo.org.br/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='tss-css'  href='https://mojo.org.br/wp-content/plugins/testimonial-slider-and-showcase/assets/css/testimonial-slider.css?ver=1718193434' type='text/css' media='all' />
<link rel='stylesheet' id='vlp-public-css'  href='https://mojo.org.br/wp-content/plugins/visual-link-preview/dist/public.css?ver=2.2.1' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css'  href='https://mojo.org.br/wp-content/plugins/wp-quiz-pro/assets/frontend/css/animate.css?ver=3.6.0' type='text/css' media='all' />
<link rel='stylesheet' id='wp-quiz-css'  href='https://mojo.org.br/wp-content/plugins/wp-quiz-pro/assets/frontend/css/wp-quiz.css?ver=2.1.7' type='text/css' media='all' />
<link rel='stylesheet' id='harrison-stylesheet-css'  href='https://mojo.org.br/wp-content/themes/harrison/style.css?ver=1.2' type='text/css' media='all' />
<link rel='stylesheet' id='newsletter-css'  href='https://mojo.org.br/wp-content/plugins/newsletter/style.css?ver=7.0.0' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-official-css'  href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' type='text/css' media='all' integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous" />
<link rel='stylesheet' id='elementor-icons-css'  href='https://mojo.org.br/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.16.0' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-legacy-css'  href='https://mojo.org.br/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.8.0' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-frontend-css'  href='https://mojo.org.br/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.8.0' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-post-254-css'  href='https://mojo.org.br/wp-content/uploads/elementor/css/post-254.css?ver=1668080187' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-pro-css'  href='https://mojo.org.br/wp-content/plugins/elementor-pro/assets/css/frontend.min.css?ver=3.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='elementor-global-css'  href='https://mojo.org.br/wp-content/uploads/elementor/css/global.css?ver=1687287762' type='text/css' media='all' />
<link rel='stylesheet' id='addtoany-css'  href='https://mojo.org.br/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.15' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-official-v4shim-css'  href='https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css' type='text/css' media='all' integrity="sha384-C8a18+Gvny8XkjAdfto/vjAUdpGuPtl1Ix/K2BgKhFaVO6w4onVVHiEaN9h9XsvX" crossorigin="anonymous" />
<style id='font-awesome-official-v4shim-inline-css' type='text/css'>
@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.eot"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.eot"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
font-family: "FontAwesome";
src: url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.eot"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.woff2") format("woff2"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.woff") format("woff"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.ttf") format("truetype"),
		url("https://use.fontawesome.com/releases/v5.12.1/webfonts/fa-regular-400.svg#fontawesome") format("svg");
unicode-range: U+F004-F005,U+F007,U+F017,U+F022,U+F024,U+F02E,U+F03E,U+F044,U+F057-F059,U+F06E,U+F070,U+F075,U+F07B-F07C,U+F080,U+F086,U+F089,U+F094,U+F09D,U+F0A0,U+F0A4-F0A7,U+F0C5,U+F0C7-F0C8,U+F0E0,U+F0EB,U+F0F3,U+F0F8,U+F0FE,U+F111,U+F118-F11A,U+F11C,U+F133,U+F144,U+F146,U+F14A,U+F14D-F14E,U+F150-F152,U+F15B-F15C,U+F164-F165,U+F185-F186,U+F191-F192,U+F1AD,U+F1C1-F1C9,U+F1CD,U+F1D8,U+F1E3,U+F1EA,U+F1F6,U+F1F9,U+F20A,U+F247-F249,U+F24D,U+F254-F25B,U+F25D,U+F267,U+F271-F274,U+F279,U+F28B,U+F28D,U+F2B5-F2B6,U+F2B9,U+F2BB,U+F2BD,U+F2C1-F2C2,U+F2D0,U+F2D2,U+F2DC,U+F2ED,U+F328,U+F358-F35B,U+F3A5,U+F3D1,U+F410,U+F4AD;
}
</style>
<link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=swap&#038;ver=5.7.1' type='text/css' media='all' /><link rel="stylesheet" type="text/css" href="https://mojo.org.br/wp-content/plugins/smart-slider-3/Public/SmartSlider3/Application/Frontend/Assets/dist/smartslider.min.css?ver=f9404e8d" media="all" />
<style type="text/css">.n2-ss-spinner-simple-white-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px;
    background: #fff;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    z-index: 1000;
}

.n2-ss-spinner-simple-white {
  outline: 1px solid RGBA(0,0,0,0);
  width:100%;
  height: 100%;
}

.n2-ss-spinner-simple-white:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -11px;
    margin-left: -11px;
}

.n2-ss-spinner-simple-white:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 2px solid #333;
    border-right: 2px solid transparent;
    animation: n2SimpleWhite .6s linear infinite;
}
@keyframes n2SimpleWhite {
    to {transform: rotate(360deg);}
}</style>
<script type='text/javascript' src='https://mojo.org.br/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
<script type='text/javascript' src='https://mojo.org.br/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
<script type='text/javascript' src='https://mojo.org.br/wp-content/plugins/add-to-any/addtoany.min.js?ver=1.1' id='addtoany-js'></script>
<script type='text/javascript' src='https://mojo.org.br/wp-content/plugins/duracelltomi-google-tag-manager/js/gtm4wp-form-move-tracker.js?ver=1.11.6' id='gtm4wp-form-move-tracker-js'></script>
<script type='text/javascript' src='https://mojo.org.br/wp-content/themes/harrison/assets/js/svgxuse.min.js?ver=1.2.4' id='svgxuse-js'></script>
<link rel="https://api.w.org/" href="https://mojo.org.br/wp-json/" /><link rel="alternate" type="application/json" href="https://mojo.org.br/wp-json/wp/v2/pages/260" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://mojo.org.br/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://mojo.org.br/wp-includes/wlwmanifest.xml" /> 
<link rel='shortlink' href='https://mojo.org.br/?p=260' />
<link rel="alternate" type="application/json+oembed" href="https://mojo.org.br/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmojo.org.br%2Febooks%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://mojo.org.br/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmojo.org.br%2Febooks%2F&#038;format=xml" />

<script data-cfasync="false">
window.a2a_config=window.a2a_config||{};a2a_config.callbacks=[];a2a_config.overlays=[];a2a_config.templates={};a2a_localize = {
	Share: "Compartilhar",
	Save: "Salvar",
	Subscribe: "Inscrever",
	Email: "Email",
	Bookmark: "Favoritos",
	ShowAll: "Mostrar tudo",
	ShowLess: "Mostrar menos",
	FindServices: "Procurar serviço(s)",
	FindAnyServiceToAddTo: "Encontrar rapidamente qualquer serviço para",
	PoweredBy: "Serviço fornecido por",
	ShareViaEmail: "Share via email",
	SubscribeViaEmail: "Subscribe via email",
	BookmarkInYourBrowser: "Adicionar aos favoritos",
	BookmarkInstructions: "Press Ctrl+D or \u2318+D to bookmark this page",
	AddToYourFavorites: "Adicionar a favoritos",
	SendFromWebOrProgram: "Send from any email address or email program",
	EmailProgram: "Email program",
	More: "More&#8230;",
	ThanksForSharing: "Thanks for sharing!",
	ThanksForFollowing: "Thanks for following!"
};

(function(d,s,a,b){a=d.createElement(s);b=d.getElementsByTagName(s)[0];a.async=1;a.src="https://static.addtoany.com/menu/page.js";b.parentNode.insertBefore(a,b);})(document,"script");
</script>

<!-- Google Tag Manager for WordPress by gtm4wp.com -->
<script data-cfasync="false" data-pagespeed-no-defer type="text/javascript">//<![CDATA[
	var dataLayer_content = {"pagePostType":"page","pagePostType2":"single-page","pagePostAuthor":"mojo"};
	dataLayer.push( dataLayer_content );//]]>
</script>
<script data-cfasync="false">//<![CDATA[
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.'+'js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSQ4284');//]]>
</script>
<!-- End Google Tag Manager -->
<!-- End Google Tag Manager for WordPress by gtm4wp.com --><style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>
	<link rel="icon" href="https://mojo.org.br/wp-content/uploads/2020/03/cropped-logo_topo-2-32x32.png" sizes="32x32" />
<link rel="icon" href="https://mojo.org.br/wp-content/uploads/2020/03/cropped-logo_topo-2-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://mojo.org.br/wp-content/uploads/2020/03/cropped-logo_topo-2-180x180.png" />
<meta name="msapplication-TileImage" content="https://mojo.org.br/wp-content/uploads/2020/03/cropped-logo_topo-2-270x270.png" />
		<style type="text/css" id="wp-custom-css">
			
		</style>
		

<script type="text/javascript">(function(){var N=this;N.N2_=N.N2_||{r:[],d:[]},N.N2R=N.N2R||function(){N.N2_.r.push(arguments)},N.N2D=N.N2D||function(){N.N2_.d.push(arguments)}}).call(window);if(!window.n2jQuery){window.n2jQuery={ready:function(cb){console.error('n2jQuery will be deprecated!');N2R(['$'],cb)}}}window.nextend={jQueryFallback:'https://mojo.org.br/wp-includes/js/jquery/jquery.js',localization:{},ready:function(cb){console.error('nextend.ready will be deprecated!');N2R('documentReady',function($){cb.call(window,$)})}};</script><script type="text/javascript" src="https://mojo.org.br/wp-content/plugins/smart-slider-3/Public/SmartSlider3/Application/Frontend/Assets/dist/n2.min.js?ver=f9404e8d"></script>
<script type="text/javascript" src="https://mojo.org.br/wp-content/plugins/smart-slider-3/Public/SmartSlider3/Application/Frontend/Assets/dist/smartslider-frontend.min.js?ver=f9404e8d"></script>
<script type="text/javascript" src="https://mojo.org.br/wp-content/plugins/smart-slider-3/Public/SmartSlider3/Slider/SliderType/Simple/Assets/dist/smartslider-simple-type-frontend.min.js?ver=f9404e8d"></script>
<script type="text/javascript">

</script></head>

<body data-rsssl=1 class="page-template page-template-templates page-template-template-ebooks page-template-templatestemplate-ebooks-php page page-id-260 custom-background wp-custom-logo centered-theme-layout site-title-hidden site-description-hidden date-hidden author-hidden comments-hidden tags-hidden elementor-default elementor-kit-254 elementor-page elementor-page-260">

		
	<div id="page" class="site">

		

			
			<header id="masthead" class="site-header" role="banner">
				<a class="skip-link screen-reader-text" href="#content">Pular para o conteúdo</a>
				<div class = "widgetizedArea">
					<div class="textwidget custom-html-widget">
						<div class="menu-topo">
							<a href="https://mojo.org.br/loja/minha-conta/">entre</a> ou <a href="https://mojo.org.br/loja/minha-conta/">crie sua conta</a>
						</div>
						<div style="clear: both"></div>
					</div>
				</div>

				<div class="header-main">

					
			<div class="site-logo">
				<a href="https://mojo.org.br/" class="custom-logo-link" rel="home"><img width="136" height="61" src="https://mojo.org.br/wp-content/uploads/2020/03/cropped-logo_topo-4.png" class="custom-logo" alt="Mojo" /></a>			</div>

			
					
<div class="site-branding">

	
			<p class="site-title"><a href="https://mojo.org.br/" rel="home">Mojo</a></p>

			
</div><!-- .site-branding -->

					

	<button class="primary-menu-toggle menu-toggle" aria-controls="primary-menu" aria-expanded="false">
		<svg class="icon icon-menu" aria-hidden="true" role="img"> <use xlink:href="https://mojo.org.br/wp-content/themes/harrison/assets/icons/genericons-neue.svg#menu"></use> </svg><svg class="icon icon-close" aria-hidden="true" role="img"> <use xlink:href="https://mojo.org.br/wp-content/themes/harrison/assets/icons/genericons-neue.svg#close"></use> </svg>		<span class="menu-toggle-text">Menu</span>
	</button>

	<div class="primary-navigation">

		<nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Menu principal">

			<ul id="primary-menu" class="menu"><li id="menu-item-108" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-108"><a href="https://www.mojo.org.br/loja">loja</a></li>
<li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-260 current_page_item menu-item-292"><a href="https://mojo.org.br/ebooks/" aria-current="page">literatura livre</a></li>
<li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="https://mojo.org.br/blog/">blog</a></li>
<li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://mojo.org.br/quem-somos/">quem somos</a></li>
<li id="menu-item-360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360"><a href="https://mojo.org.br/apoie/">apoie</a></li>
<li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a href="https://mojo.org.br/contato/">contato</a></li>
<li class="search"><a class="search_icon"><i class="fa fa-search"></i></a><div style="display:none;" class="spicewpsearchform">
<form role="search" method="get" class="search-form" action="https://mojo.org.br/">
	<label>
		<span class="screen-reader-text">Pesquisar por:</span>
		<input type="search" class="search-field"
			placeholder="Pesquisar &hellip;"
			value="" name="s"
			title="Pesquisar por:" />
	</label>
	<button type="submit" class="search-submit">
		<svg class="icon icon-search" aria-hidden="true" role="img"> <use xlink:href="https://mojo.org.br/wp-content/themes/harrison/assets/icons/genericons-neue.svg#search"></use> </svg>		<span class="screen-reader-text">Busca</span>
	</button>
</form>
</div></li><li id="menu-item-117" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-117"><a href="https://mojo.org.br/loja"><i class="fas fa-shopping-bag"></i></a></li></ul>		</nav><!-- #site-navigation -->

	</div><!-- .primary-navigation -->



				</div><!-- .header-main -->

			</header><!-- #masthead -->

						
		
		<div id="content" class="site-content">

			
								<div class = "widgetizedArea"><div class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList"><!-- Breadcrumb NavXT 6.6.0 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Mojo." href="https://mojo.org.br" class="home" ><span property="name">Home</span></a><meta property="position" content="1"></span> &gt; <span class="post post-page current-item">ebooks</span></div></div>
			
 <div class="n2-section-smartslider fitvidsignore " role="region" aria-label="Slider"><style>div#n2-ss-4{width:1200px;}div#n2-ss-4 .n2-ss-slider-1{position:relative;}div#n2-ss-4 .n2-ss-slider-background-video-container{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}div#n2-ss-4 .n2-ss-slider-2{position:relative;overflow:hidden;padding:0px 0px 0px 0px;height:480px;border:0px solid RGBA(62,62,62,1);border-radius:0px;background-clip:padding-box;background-repeat:repeat;background-position:50% 50%;background-size:cover;background-attachment:scroll;z-index:1;}div#n2-ss-4.n2-ss-mobileLandscape .n2-ss-slider-2,div#n2-ss-4.n2-ss-mobilePortrait .n2-ss-slider-2{background-attachment:scroll;}div#n2-ss-4 .n2-ss-slider-3{position:relative;width:100%;height:100%;overflow:hidden;outline:1px solid rgba(0,0,0,0);z-index:10;}div#n2-ss-4 .n2-ss-slide-backgrounds,div#n2-ss-4 .n2-ss-slider-3 > .n-particles-js-canvas-el,div#n2-ss-4 .n2-ss-slider-3 > .n2-ss-divider{position:absolute;left:0;top:0;width:100%;height:100%;}div#n2-ss-4 .n2-ss-slide-backgrounds{z-index:10;}div#n2-ss-4 .n2-ss-slider-3 > .n-particles-js-canvas-el{z-index:12;}div#n2-ss-4 .n2-ss-slide-backgrounds > *{overflow:hidden;}div#n2-ss-4 .n2-ss-slide{position:absolute;top:0;left:0;width:100%;height:100%;z-index:20;display:block;-webkit-backface-visibility:hidden;}div#n2-ss-4 .n2-ss-layers-container{position:relative;width:1200px;height:480px;}div#n2-ss-4 .n2-ss-parallax-clip > .n2-ss-layers-container{position:absolute;right:0;}div#n2-ss-4 .n2-ss-slide{perspective:1500px;}div#n2-ss-4[data-ie] .n2-ss-slide{perspective:none;transform:perspective(1500px);}div#n2-ss-4 .n2-ss-slide-active{z-index:21;}</style><div id="n2-ss-4-align" class="n2-ss-align"><div class="n2-padding"><div id="n2-ss-4" data-creator="Smart Slider 3" class="n2-ss-slider n2-ow n2-has-hover n2notransition  n2-ss-load-fade " style="font-size: 1rem;" data-fontsize="16">
        <div class="n2-ss-slider-1 n2_ss__touch_element n2-ow" style="">
            <div class="n2-ss-slider-2 n2-ow" style="">
                                                <div class="n2-ss-slider-3 n2-ow" style="">

                    <div class="n2-ss-slide-backgrounds"></div><div data-first="1" data-slide-duration="0" data-id="68" data-title="Destaque HOME LITLIV SESC" data-haslink="1" style="cursor:pointer;" onclick="" data-href="https://literaturalivre.sescsp.org.br/" data-n2click="n2ss.openUrl(e);" data-n2middleclick="n2ss.openUrl(e, '_blank');" class=" n2-ss-slide n2-ss-canvas n2-ow  n2-ss-slide-68"><div class="n2-ss-slide-background n2-ow" data-mode="fill"><div data-hash="c18bba59f015b48688467cd8378067b8" data-desktop="//mojo.org.br/wp-content/uploads/2021/03/Destaque-HOME-LITLIV-SESC.jpg" class="n2-ss-slide-background-image" data-blur="0" data-alt="" data-title="" data-no-lazy="" style="background-image:url('//mojo.org.br/wp-content/uploads/2021/03/Destaque-HOME-LITLIV-SESC.jpg')"></div></div><div class="n2-ss-layers-container n2-ow"><div class="n2-ss-layer n2-ow" style="padding:10px 10px 10px 10px;" data-desktopportraitpadding="10|*|10|*|10|*|10" data-sstype="slide" data-csstextalign="center" data-pm="default"></div></div></div>                </div>
            </div>
            

        </div>
        </div><div id="n2-ss-4-spinner" style="display: none;"><div><div class="n2-ss-spinner-simple-white-container"><div class="n2-ss-spinner-simple-white"></div></div></div></div></div></div><div class="n2_clear"></div><div id="n2-ss-4-placeholder" style="min-height:0px;position: relative;z-index:2;background-color:RGBA(0,0,0,0); background-color:RGBA(255,255,255,0);"><img style="width: 100%; max-width:3000px; display: block;opacity:0;margin:0px;" class="n2-ow skip-lazy" data-skip-lazy="1" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjQ4MCIgPjwvc3ZnPg==" alt="Slider" /></div><script type="text/javascript">N2R(["documentReady","smartslider-frontend","smartslider-simple-type-frontend"],function(){new N2Classes.SmartSliderSimple('#n2-ss-4', {"admin":false,"callbacks":"","background.video.mobile":1,"alias":{"id":0,"smoothScroll":0,"slideSwitch":0,"scroll":1},"align":"normal","isDelayed":0,"load":{"fade":1,"scroll":0},"playWhenVisible":1,"playWhenVisibleAt":0.5,"responsive":{"hideOn":{"desktopLandscape":false,"desktopPortrait":false,"tabletLandscape":false,"tabletPortrait":false,"mobileLandscape":false,"mobilePortrait":false},"onResizeEnabled":true,"type":"auto","downscale":1,"upscale":1,"minimumHeight":0,"maximumSlideWidth":{"desktopLandscape":3000,"desktopPortrait":3000,"tabletLandscape":3000,"tabletPortrait":3000,"mobileLandscape":3000,"mobilePortrait":3000},"forceFull":0,"forceFullOverflowX":"body","forceFullHorizontalSelector":"","constrainRatio":1,"sliderHeightBasedOn":"real","decreaseSliderHeight":0,"focusUser":1,"focusEdge":"auto","breakpoints":[{"device":"tabletPortrait","type":"max-screen-width","portraitWidth":1199,"landscapeWidth":1199},{"device":"mobilePortrait","type":"max-screen-width","portraitWidth":700,"landscapeWidth":900}],"enabledDevices":{"desktopLandscape":0,"desktopPortrait":1,"tabletLandscape":0,"tabletPortrait":1,"mobileLandscape":0,"mobilePortrait":1},"sizes":{"desktopPortrait":{"width":1200,"height":480,"max":3000,"min":1200},"tabletPortrait":{"width":701,"height":280,"max":1199,"min":701},"mobilePortrait":{"width":320,"height":128,"max":900,"min":320}},"normalizedDeviceModes":{"unknown":"desktopPortrait","desktopPortrait":"desktopPortrait","desktopLandscape":"desktopPortrait","tabletLandscape":"desktopPortrait","tabletPortrait":"tabletPortrait","mobileLandscape":"tabletPortrait","mobilePortrait":"mobilePortrait"},"overflowHiddenPage":0,"focus":{"offsetTop":"#wpadminbar","offsetBottom":""}},"controls":{"mousewheel":0,"touch":"horizontal","keyboard":1,"blockCarouselInteraction":1},"lazyLoad":0,"lazyLoadNeighbor":0,"blockrightclick":0,"maintainSession":0,"autoplay":{"enabled":1,"start":1,"duration":5000,"autoplayLoop":1,"allowReStart":0,"pause":{"click":1,"mouse":"0","mediaStarted":1},"resume":{"click":0,"mouse":"0","mediaEnded":1,"slidechanged":0},"interval":1,"intervalModifier":"loop","intervalSlide":"current"},"perspective":1500,"layerMode":{"playOnce":0,"playFirstLayer":1,"mode":"skippable","inAnimation":"mainInEnd"},"bgAnimationsColor":"RGBA(51,51,51,1)","bgAnimations":0,"mainanimation":{"type":"horizontal","duration":800,"delay":0,"ease":"easeOutQuad","parallax":0,"shiftedBackgroundAnimation":0},"carousel":1,"dynamicHeight":0,"initCallbacks":function($){}});});</script></div> 
 
                <div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">
 
<h1>literatura livre: baixe ebooks gratuitos</h1>

 
<div class="lista_ebook">
 
   
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-morte-comeca-com-uma-pessoa-um-proverbio/" >
<img src="https://mojo.org.br/wp-content/uploads/2024/02/CONTOS-FOLCLORICOS-AFRICANOS-VOL-2-CAPAS-4.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-morte-comeca-com-uma-pessoa-um-proverbio/" class="titulo_livros">“A morte começa com uma pessoa”: um provérbio</a><br />
<span class="autor">de Robert Hamill Nassau</span></div>

<a href="/ebooks-gratuitos/?tag=africanos" class="tag">africanos</a><a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-morte-comeca-com-uma-pessoa-um-proverbio/">Conto incluído em Contos folclóricos africanos vol 2. Leia um trecho: O caramujo Kâ, a iguana Ngâmbi e o jabuti Kudu viviam juntos em uma aldeia. Certo dia, o...</a></div>
  <a href="https://mojo.org.br/ebook/a-morte-comeca-com-uma-pessoa-um-proverbio/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-abelha-preguicosa/" >
<img src="https://mojo.org.br/wp-content/uploads/2024/02/CONTOS-DA-SELVA-CAPAS-8.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-abelha-preguicosa/" class="titulo_livros">A abelha preguiçosa</a><br />
<span class="autor">de Horacio Quiroga</span></div>

<a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a><a href="/ebooks-gratuitos/?tag=espanhol" class="tag">espanhol</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-abelha-preguicosa/">Um conto de Contos da selva, de Horacio Quiroga. Leia um trecho; Certa vez, havia numa colmeia uma abelha que não queria trabalhar, ou seja, passava pelas árvores uma a uma...</a></div>
  <a href="https://mojo.org.br/ebook/a-abelha-preguicosa/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-cacada-aos-avestruzes/" >
<img src="https://mojo.org.br/wp-content/uploads/2024/02/HISTORIAS-DO-TIO-KAREL-CAPAS-15.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-cacada-aos-avestruzes/" class="titulo_livros">A caçada aos avestruzes</a><br />
<span class="autor">de Sanni Meterlercamp</span></div>

<a href="/ebooks-gratuitos/?tag=africa-do-sul" class="tag">africa do sul</a><a href="/ebooks-gratuitos/?tag=africanos" class="tag">africanos</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-cacada-aos-avestruzes/">Este conto pertence ao livro Histórias do tio Karel. Leia um trecho: No dia seguinte, exceto pelas aulas e refeições, os garotos passaram todo o tempo nos campos procurando...</a></div>
  <a href="https://mojo.org.br/ebook/a-cacada-aos-avestruzes/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-cacada-de-kaa/" >
<img src="https://mojo.org.br/wp-content/uploads/2020/04/02-A-CACADA-DE-KAA-LDS-site.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-cacada-de-kaa/" class="titulo_livros">A caçada de Kaa</a><br />
<span class="autor">de Rudyard Kipling</span></div>

<a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a><a href="/ebooks-gratuitos/?tag=kipling" class="tag">kipling</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-cacada-de-kaa/">Um conto de O livro da selva: Baloo, o urso professor da Lei da Selva e Bagheera, a pantera negra, precisam da ajuda  perigosa de Kaa, um píton de...</a></div>
  <a href="https://mojo.org.br/ebook/a-cacada-de-kaa/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-chegada-do-medo/" >
<img src="https://mojo.org.br/wp-content/uploads/2020/04/0112-A-CHEGADA-DO-MEDO.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-chegada-do-medo/" class="titulo_livros">A chegada do medo</a><br />
<span class="autor">de Rudyard Kipling</span></div>

<a href="/ebooks-gratuitos/?tag=em-breve" class="tag">EM BREVE!</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-chegada-do-medo/">Um conto de O segundo livro da selva: Os animais falam, mas não é uma fábula para bebês dormirem. Tem criança protagonista, mas ninguém toma leite com chocolate. A...</a></div>
  <a href="https://mojo.org.br/ebook/a-chegada-do-medo/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-corca-cega/" >
<img src="https://mojo.org.br/wp-content/uploads/2024/02/CONTOS-DA-SELVA-CAPAS-5.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-corca-cega/" class="titulo_livros">A corça cega</a><br />
<span class="autor">de Horacio Quiroga</span></div>

<a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a><a href="/ebooks-gratuitos/?tag=espanhol" class="tag">espanhol</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-corca-cega/">Um conto de Contos da selva, de Horacio Quiroga. Leia um trecho; Era uma vez um veado — uma corça — que tinha filhos gêmeos, coisa rara entre os veados. Um...</a></div>
  <a href="https://mojo.org.br/ebook/a-corca-cega/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-dama-branca-2/" >
<img src="https://mojo.org.br/wp-content/uploads/2024/02/Contos-sardos-5.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-dama-branca-2/" class="titulo_livros">A dama branca</a><br />
<span class="autor">de Grazia Deledda</span></div>

<a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a><a href="/ebooks-gratuitos/?tag=deledda" class="tag">deledda</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-dama-branca-2/">Este conto pertence ao livro Contos sardos. O velho Salvatore, chefe ancião de uma família de agricultores, é dono da voz no que refere a lendas e histórias bizarras...</a></div>
  <a href="https://mojo.org.br/ebook/a-dama-branca-2/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-foca-branca/" >
<img src="https://mojo.org.br/wp-content/uploads/2020/04/04-A-FOCA-BRANCA-site.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-foca-branca/" class="titulo_livros">A foca branca</a><br />
<span class="autor">de Rudyard Kipling</span></div>

<a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a><a href="/ebooks-gratuitos/?tag=em-breve" class="tag">EM BREVE!</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-foca-branca/">Um conto de O livro da selva: Kotick, um filhote de foca incomum, pois é todo branco, descobre o mal na figura de caçadores que fazem jaquetas de peles...</a></div>
  <a href="https://mojo.org.br/ebook/a-foca-branca/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-guerra-dos-jacares/" >
<img src="https://mojo.org.br/wp-content/uploads/2024/02/CONTOS-DA-SELVA-CAPAS-4.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-guerra-dos-jacares/" class="titulo_livros">A guerra dos jacarés</a><br />
<span class="autor">de Horacio Quiroga</span></div>

<a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a><a href="/ebooks-gratuitos/?tag=espanhol" class="tag">espanhol</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-guerra-dos-jacares/">Um conto de Contos da selva, de Horacio Quiroga. Leia um trecho; Num rio muito grande e num país distante, no qual o homem nunca esteve, viviam muitos jacarés. Eram...</a></div>
  <a href="https://mojo.org.br/ebook/a-guerra-dos-jacares/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-maravilhosa-terra-de-oz/" >
<img src="https://mojo.org.br/wp-content/uploads/2020/04/00032_a-maravilhosa-terra-de-oz-site-1.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-maravilhosa-terra-de-oz/" class="titulo_livros">A maravilhosa Terra de Oz</a><br />
<span class="autor">de L. Frank Baum</span></div>

<a href="/ebooks-gratuitos/?tag=infantil" class="tag">infantil</a><a href="/ebooks-gratuitos/?tag=livro" class="tag">livro</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-maravilhosa-terra-de-oz/">O segundo livro da série Oz! Uma revolução feminina toma a cidade de Oz e depõe seu novo governador, o Espantalho. O menino Bizu, fugindo de sua mãe adotiva,...</a></div>
  <a href="https://mojo.org.br/ebook/a-maravilhosa-terra-de-oz/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-senhora-dowey-mostra-suas-medalhas/" >
<img src="https://mojo.org.br/wp-content/uploads/2020/04/0104_a-senhora-dowey-mostra-suas-medalhas-site.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-senhora-dowey-mostra-suas-medalhas/" class="titulo_livros">A senhora Dowey mostra suas medalhas</a><br />
<span class="autor">de J.M. Barrie</span></div>

<a href="/ebooks-gratuitos/?tag=em-breve" class="tag">EM BREVE!</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-senhora-dowey-mostra-suas-medalhas/">EM BREVE</a></div>
  <a href="https://mojo.org.br/ebook/a-senhora-dowey-mostra-suas-medalhas/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
 
    <div class="ebook_item">
<a href="https://mojo.org.br/ebook/a-tartaruga-gigante/" >
<img src="https://mojo.org.br/wp-content/uploads/2024/02/CONTOS-DA-SELVA-CAPAS-1.jpg" />
</a>
<br />
<div class="titulo_autor"><a href="https://mojo.org.br/ebook/a-tartaruga-gigante/" class="titulo_livros">A tartaruga gigante</a><br />
<span class="autor">de Horacio Quiroga</span></div>

<a href="/ebooks-gratuitos/?tag=contos" class="tag">contos</a><a href="/ebooks-gratuitos/?tag=espanhol" class="tag">espanhol</a>        
  <br />
  <div class="sinopse_home"><a href="https://mojo.org.br/ebook/a-tartaruga-gigante/">Um conto de Contos da selva, de Horacio Quiroga. Leia um trecho: Era uma vez um homem que morava em Buenos Aires e que estava muito feliz porque era...</a></div>
  <a href="https://mojo.org.br/ebook/a-tartaruga-gigante/" class="baixa_agora">BAIXE AGORA</a><br /><br /><br />
 
</div><!-- close -->
  
<div style="clear: both"></div>
<center><span class="pods-pagination-advanced ">
	
	<span class="pods-pagination-number pods-pagination-current ">1</span>

				<a href="/ebooks/?gad_source=1&#038;gclid=CjwKCAjwjqWzBhAqEiwAQmtgT62tRKYCpACgFk0IkvElApk5TPu-grWkud-P4GOfDUSUBMRb6TKYRRoCTnEQAvD_BwE&#038;pg=2" class="pods-pagination-number pods-pagination-2 ">2</a>
						<a href="/ebooks/?gad_source=1&#038;gclid=CjwKCAjwjqWzBhAqEiwAQmtgT62tRKYCpACgFk0IkvElApk5TPu-grWkud-P4GOfDUSUBMRb6TKYRRoCTnEQAvD_BwE&#038;pg=3" class="pods-pagination-number pods-pagination-3 ">3</a>
					<a href="/ebooks/?gad_source=1&#038;gclid=CjwKCAjwjqWzBhAqEiwAQmtgT62tRKYCpACgFk0IkvElApk5TPu-grWkud-P4GOfDUSUBMRb6TKYRRoCTnEQAvD_BwE&#038;pg=9" class="pods-pagination-number pods-pagination-last ">9</a>
					<a href="/ebooks/?gad_source=1&#038;gclid=CjwKCAjwjqWzBhAqEiwAQmtgT62tRKYCpACgFk0IkvElApk5TPu-grWkud-P4GOfDUSUBMRb6TKYRRoCTnEQAvD_BwE&#038;pg=2" class="pods-pagination-number pods-pagination-next ">Próximo &rsaquo;</a>
							<a href="/ebooks/?gad_source=1&#038;gclid=CjwKCAjwjqWzBhAqEiwAQmtgT62tRKYCpACgFk0IkvElApk5TPu-grWkud-P4GOfDUSUBMRb6TKYRRoCTnEQAvD_BwE&#038;pg=9" class="pods-pagination-number pods-pagination-last ">Último &raquo;</a>
				
</span>
</center>
</div>




<div class="fullW" style="background-color: #fcfbfb;">
  <div class="boxed">
    <h2>conheça nossa loja</h2>
    <div class="owl-wrapper"><div id="carousel-128" class="owl-carousel owl-theme"><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/anne-vol-1"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0008-AGG-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/anne-vol-1' class='titulo_livros'>Anne de Green Gables</a><br /><a  href="https://mojo.org.br/loja/produtos/anne-vol-1" class="autor">de Lucy Maud Montgomery</a></div><a href="https://mojo.org.br/loja/produtos/anne-vol-1" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/o-jardim-secreto"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0007-OJS-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/o-jardim-secreto' class='titulo_livros'>O jardim secreto</a><br /><a  href="https://mojo.org.br/loja/produtos/o-jardim-secreto" class="autor">de Frances Hodgson Burnett</a></div><a href="https://mojo.org.br/loja/produtos/o-jardim-secreto" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/ilha-do-tesouro"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0006-IDT-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/ilha-do-tesouro' class='titulo_livros'>Ilha do tesouro</a><br /><a  href="https://mojo.org.br/loja/produtos/ilha-do-tesouro" class="autor">de Robert Louis Stevenson</a></div><a href="https://mojo.org.br/loja/produtos/ilha-do-tesouro" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/pinocchio"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0005-PNC-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/pinocchio' class='titulo_livros'>Pinocchio</a><br /><a  href="https://mojo.org.br/loja/produtos/pinocchio" class="autor">de Carlo Collodi</a></div><a href="https://mojo.org.br/loja/produtos/pinocchio" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/oz-vol-1"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0003-OZ-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/oz-vol-1' class='titulo_livros'>Oz  Vol. 1 — O Mágico de Oz e a Terra de Oz</a><br /><a  href="https://mojo.org.br/loja/produtos/oz-vol-1" class="autor">de L. Frank Baum</a></div><a href="https://mojo.org.br/loja/produtos/oz-vol-1" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/peter-pan-wendy/"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0002-PPW-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/peter-pan-wendy/' class='titulo_livros'>Peter Pan &#038; Wendy</a><br /><a  href="https://mojo.org.br/loja/produtos/peter-pan-wendy/" class="autor">de J.M. Barrie</a></div><a href="https://mojo.org.br/loja/produtos/peter-pan-wendy/" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/o-livro-da-selva/"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0001-LDS-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/o-livro-da-selva/' class='titulo_livros'>O livro da selva Vol. 1</a><br /><a  href="https://mojo.org.br/loja/produtos/o-livro-da-selva/" class="autor">de Rudyard Kipling</a></div><a href="https://mojo.org.br/loja/produtos/o-livro-da-selva/" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div><div class="item"><div class="item-inner"><a href="https://mojo.org.br/loja/produtos/as-aventuras-de-alice-2"><img src="https://mojo.org.br/wp-content/uploads/2020/12/0004-AAA-Book_Mockup_01-RED.jpg" /></a><br /><div class='titulo_autor'><a  href='https://mojo.org.br/loja/produtos/as-aventuras-de-alice-2' class='titulo_livros'>As aventuras de Alice</a><br /><a  href="https://mojo.org.br/loja/produtos/as-aventuras-de-alice-2" class="autor">de Lewis Carroll</a></div><a href="https://mojo.org.br/loja/produtos/as-aventuras-de-alice-2" class="compre_agora">COMPRE AGORA</a><br /><span class="preco_livro">R$ 99,90</span><br /></div></div></div></div>
       <script type='text/javascript' async>
           jQuery(document).ready(function($){
            $('#carousel-128').owlCarousel({
                loop:false,
                autoplay : true,
                autoplayTimeout : 9000,
                smartSpeed : 2000,
                fluidSpeed : 2000,
                autoplaySpeed : 2000,
                navSpeed : 2000,
                dotsSpeed : 2000,
                margin: 10,
                autoplayHoverPause : false,
                nav : true,
                navText : ['&lt;','&gt;'],
                dots : false,
                center : false,
                responsiveRefreshRate : 200,
                slideBy : 1,
                mergeFit : true,
                mouseDrag : true,
                touchDrag : true,
                responsive:{
                    0:{items:1},
                    480:{items:1},
                    768:{items:2},
                    991:{items:3},
                    1200:{items:4},
                    1500:{items:4},
                    }
                });
            });
        </script><br /><br />
  </div>
</div>


		</div><!-- #content -->
	        </div><!-- #primary -->
 

	</div><!-- #content -->

	
		
		<footer id="colophon" class="site-footer fullW">

						
			<!-- wp:columns -->
				<div class="wp-block-columns boxed">
					<!-- wp:column -->
					<div class="wp-block-column"><img src="/wp-content/uploads/2020/03/logo_rodapé.png" /></div>
					<!-- /wp:column -->

					<!-- wp:column -->
					<div class="wp-block-column">
						<a href="https://mojo.org.br/loja">loja</a><br />
						<a href="https://www.mojo.org.br/ebooks/">ebooks gratuitos</a><br />
						<a href="https://www.mojo.org.br/blog/">blog</a>
					</div>
					<!-- /wp:column -->

					<!-- wp:column -->
					<div class="wp-block-column">
						<a href="https://www.mojo.org.br/quem-somos/">quem somos</a><br />
						<a href="https://www.mojo.org.br/contato/">contato</a><br />
					</div>
					<!-- /wp:column -->

					<!-- wp:column -->
					<div class="wp-block-column">
						<a href="https://www.facebook.com/institutomojo">
							<img src="/wp-content/uploads/2020/03/facebook.gif" />
						</a>
						<a href="https://www.instagram.com/institutomojo/">
							<img src="/wp-content/uploads/2020/03/instagram.gif" />
						</a>
					</div>

					<!-- /wp:column -->
				</div>
			<!-- /wp:columns -->

		</footer><!-- #colophon -->

		<div class="assinatura fullW">
			<!-- wp:columns -->
				<div class="wp-block-columns boxed">
					
					<!-- wp:column -->
					<div class="wp-block-column">
						Todos os direitos reservados
					</div>
					<!-- /wp:column -->

					<!-- wp:column -->
					<div class="wp-block-column tcenter">
						© copyright 2020 | MOJO.ORG 
					</div>
					<!-- /wp:column -->

					<!-- wp:column -->
					<div class="wp-block-column tright">
						<a href="http://www.sphera.com.br">SPHERA AGÊNCIA DIGITAL</a>
					</div>
					<!-- /wp:column -->
				</div>
			<!-- /wp:columns -->
		</div>

		
	
</div><!-- #page -->



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSQ4284"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><link rel='stylesheet' id='owl-carousel-css-css'  href='https://mojo.org.br/wp-content/plugins/dd-post-carousel/public/css/owl.carousel.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='owl-theme-css-css'  href='https://mojo.org.br/wp-content/plugins/dd-post-carousel/public/css/owl.theme.default.min.css?ver=5.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='owl-carousel-2-css'  href='https://mojo.org.br/wp-content/plugins/dd-post-carousel/public/css/owl-carousel-2-public.css?ver=1.1.1' type='text/css' media='all' />
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/mojo.org.br\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://mojo.org.br/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.3.1' id='contact-form-7-js'></script>
<script type='text/javascript' id='embed-sendy-js-extra'>
/* <![CDATA[ */
var esdSettings = {"ajaxurl":"https:\/\/mojo.org.br\/wp-admin\/admin-ajax.php","successMessage":"<BR \/>Obrigado por se inscrever!\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0<script type=\"text\/javascript\" language=\"JavaScript\">   document.getElementById(\"ebooks\").style.visibility= \"visible\" ;  document.getElementById(\"es-submit\").style.display= \"none\" ;<\/script>","alreadySubscribed":"<BR \/> Voc\u00ea j\u00e1 est\u00e1 inscrito(a)!  <script type=\"text\/javascript\" language=\"JavaScript\">   document.getElementById(\"ebooks\").style.visibility= \"visible\" ; document.getElementById(\"es-submit\").style.display= \"none\" ;<\/script>","recaptchaFailed":"Incorrect Captcha"};
/* ]]> */
</script>
<script type='text/javascript' src='https://mojo.org.br/wp-content/plugins/embed-sendy/assets/embed-sendy.js?ver=1.3.3' id='embed-sendy-js'></script>
<script type='text/javascript' id='harrison-navigation-js-extra'>
/* <![CDATA[ */
var harrisonScreenReaderText = {"expand":"Expandir submenu","collapse":"Fechar submenu","icon":"<svg class=\"icon icon-expand\" aria-hidden=\"true\" role=\"img\"> <use xlink:href=\"https:\/\/mojo.org.br\/wp-content\/themes\/harrison\/assets\/icons\/genericons-neue.svg#expand\"><\/use> <\/svg>"};
/* ]]> */
</script>
<script type='text/javascript' src='https://mojo.org.br/wp-content/themes/harrison/assets/js/navigation.min.js?ver=20191114' id='harrison-navigation-js'></script>
<script type='text/javascript' src='https://mojo.org.br/wp-includes/js/wp-embed.min.js?ver=5.7.1' id='wp-embed-js'></script>
<script type='text/javascript' src='https://mojo.org.br/wp-content/plugins/dd-post-carousel/public/js/owl.carousel.min.js?ver=2.2.1' id='owl-two-js'></script>

        
<script>


    //var boundary = $(".listagem .wp-block-column:nth-child(2n)");
    //jQuery("</div><div>").insertAfter(".listagem .wp-block-column:nth-child(2n)");
    while(jQuery('#listagem > .item:lt(3)').wrapAll('<div class="wp-block-column" style="flex-basis:100%"></div>').length) { }


	//jQuery(".listagem .wp-block-column:nth-child(2n)").after("|</div><div class='wp-block-columns'>|"); 
	//jQuery(".listagem .wp-block-column:nth-child(2n+1)").after("<span>111</span>"); 

	jQuery(document).ready(function($) {
	  $(".search_icon").click(function() {
	    $(".spicewpsearchform").slideToggle();
	  });

	  $(document).keydown(function(e) {
	    if (e.keyCode == 27) {
	      //$(modal_or_menu_element).closeElement();
	      $(".spicewpsearchform").hide();
	    }
	  });
	});


</script>



</body>
</html>